body{
    background-color: #2b2724;
}
.searchResult{
    text-align: center;
    color: orange;
    font-size: 40px;
}
.meals{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}
.meal{
    border: 2px solid orange;
    background-color: rgb(250, 235, 235);
    text-align: center;
}
.meal img{
    width: 100%;
    
}
.show-details:hover{
    border: 3px solid gray;
}
.navigation{
    display: flex;
    
}