body{
    background-color: #2b2724;
}
.navigation-bar a{
    color:white !important;
}
.nav-style{
    background-color: #2b2724!important;
}
.meals{   
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}
.show-details img{
    width: 100%;
}
.single-meal{

 border: 2px solid orange;
 background-color: rgb(250, 235, 235);
 text-align: center;
   
}
.show-details:hover{
    border: 2px solid gray;
}
.detailsInfo img{
    width: 300px;
}

.Ingredient li{
    margin-right: 5px;
    list-style: none;
}
.Ingredient li i{
 color: cyan;
}
#showMealList{
margin-left: 20px;
padding: 30px;
}
